@model IEnumerable<ApplicationUser>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-success bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">User list</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table class="table table-bordered">
            <thead>
                <tr class="table-secondary">
                    <th>Email</th>
                    <th>Name</th>
                    <th>Roles</th>
                    <th>Claims</th>
                    <th>Date Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @user.Email 
                            @if ((DateTime.Now - user.DateCreated).Days > 1000)
                            {
                                <i class="bi bi-award"></i>
                            }
                        </td>
                        <td>@user.Name</td>
                        <td>@user.Role</td>
                        <td>@user.Claim</td>
                        <td>@user.DateCreated</td>
                        <td style="width:450px">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-3 mb-2">
                                    <a asp-controller="User" asp-action="ManageRoles" asp-route-userId="@user.Id" class="btn btn-info w-100" style="cursor:pointer">
                                        Roles
                                    </a>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 mb-2">
                                    <a asp-controller="User" asp-action="ManageClaims" asp-route-userId="@user.Id" class="btn btn-info w-100" style="cursor:pointer">
                                        Claims
                                    </a>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 mb-2">
                                    @if (user.LockoutEnd == null || user.LockoutEnd < DateTime.Now)
                                    {
                                        <form asp-controller="User" asp-action="LockUnlock" asp-route-userId="@user.Id">
                                            <input type="submit" class="btn btn-warning w-100" style="cursor:pointer" value="Lock" />
                                        </form>
                                    }
                                    else
                                    {
                                        <form asp-controller="User" asp-action="LockUnlock" asp-route-userId="@user.Id">
                                            <input type="submit" class="btn btn-info w-100" style="cursor:pointer" value="Unlock" />
                                        </form>
                                    }
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 mb-2">

                                    @if (user.TwoFactorEnabled)
                                    {
                                        <form asp-controller="User" asp-action="TwoFactorAuth" asp-route-userId="@user.Id">
                                            <input type="submit" class="btn btn-warning w-60" style="cursor:pointer; font-size:0.6rem;" value="Disable 2FA" />
                                        </form>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
